<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    
    <bean class="com.springcore.Address" name="A1">
    <property name="city" value="Jaipur"></property>
    <property name="street" value="VDN"></property>
    </bean>
    
    
    <bean class="com.springcore.Student" name="student1">
   <!-- setter injection --> 
	    
      <property name="studentId">
	    	<value>12345</value>
	    </property>
	    <!-- Setting using value  -->
	    <property name="studentName" value="Aditi Agrwal"/>
	    
	    <property name="Address" >
	    <ref bean="A1"></ref>
	    </property>    	 

	    <property name="studentAddress">
	   	<value>Jaipur</value>
	    </property>
    </bean> 
    
    <!--  <bean class="com.springcore.Student" name="student2" p:studentId="2345" p:studentAddress="Delhi" p:studentName="Parikha Sharma"/> -->
   
     
 </beans>   